html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1110px;
    height: 100vh;
    color:#555252;
    margin: 0 auto;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
/*Nav menu*/
.page-nav{
    margin: 0;
    padding-top : 38px;
    list-style: none;
    box-sizing: border-box;
    text-transform: uppercase;
}
.head-menu{
    margin-bottom: 120px;
}
.menu{
    width: 500px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-top: 10px;
}
.menu li{
    float: left;
}
.menu-item{
    margin-right: 34px;
    }
.menu-item a:hover,
.menu-item a:focus{
    color: #1abc9c;
}
.menu .menu-item:last-child{
    margin-right: 0;
}
.menu-logo{
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 32px;
    color: #626262;
    text-decoration-line: none;
}
.menu-logo:first-letter{
    color: #1abc9c;
    font-weight: 800;
}
.menu-logo:hover,
.menu-logo:focus{
    color: #1abc9c;
}
.menu-link{
    color: #626262;
    text-decoration-line: none;
    display: block;
}
/*Main menu*/
main{
}
.topic-1{
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #555252;
    font-family: "Roboto";
    font-weight: 800;
    text-align: center;
    margin-bottom: 92px;
}
.topic-1:after{
    content: '';
    display: block;
    background-image: url(../image/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 7px;
    margin-top: 40px;
}
.topic-2{
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #555252;
    font-family: "Roboto";
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;
}
.topic-2:after{
    content: '';
    display: block;
    background-image: url(../image/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 7px;
    margin-top: 40px;
}

.product-list{
    font-family: "Roboto";
    font-weight: 800;
    text-align: left;
}
.products{
    padding-bottom: 114px;
}
.list-1{
    float: left;
    width: 255px;
    height: 320px;
    color: #ffffff;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #e9f0fd;
}
.list-1:nth-child(4n){
    margin-right: 0;
}
.list-1:nth-last-child(-n+4){
    margin-bottom: 0;
}
.box-title{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px;
    background-color: black;
    width: 200px;
    height: 40px;
    text-indent: 1rem;
    float: left;
}
.box-price {
    font-size: 18px;
    text-transform: uppercase;
    width: 55px;
    height: 40px;
    color: white;
    text-align: center;
    background-color: gray;
    float: right;
    line-height: 40px;
}
.list-1:hover .box-title{
    background-color: #1abc9c;
}
.list-1:hover .box-price{
    background-color: #7fd9c7;
}
.blog-list{
    font-family: "Open Sans";
}
.list-2{
    float: left;
    width: 350px;
    height: 495px;
    color: #555252;
    margin-right: 30px;
    margin-bottom: 30px;
}
.list-2:nth-child(3n){
    margin-right: 0;
}
.list-2:nth-last-child(-n+4){
    margin-bottom: 0;
}
.blog-image{
    margin-bottom: 10px;
}
.blog-title{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
}
.blog-title:after{
    content: '';
    display: block;
    background-image: url(../image/Rectangle35.png);
    background-repeat: no-repeat;
    height: 7px;
    margin-top: 10px;
}
.blog-subtitle{
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
    margin-bottom: 12px;
}

/*Button*/
.btn{
    font-size: 16px;
    line-height: 50px;
    font-family: "Open Sans";
    color: #ffffff;
    width: 160px;
    height: 50px;
    cursor: pointer;
    display: block;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.39);
    background-color: #4ec6ab;
    font-weight: 300;
    text-align: center;
    text-decoration-line: none;
}
.btn:hover,
.btn:focus {
    background-color:#ddddd7;
}
.blog{
    padding-bottom: 82px;
}